client/Cli-CustomerService/src/main/resources/DeliveryWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryWebServiceService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/delivery"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/delivery"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/delivery"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/delivery" version="1.0">

            <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>

            <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>

            <xs:complexType name="getNextDelivery">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getNextDeliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="the_next_delivery" type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNextDeliveryResponse">
        <wsdl:part name="parameters" element="tns:getNextDeliveryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextDelivery">
        <wsdl:part name="parameters" element="tns:getNextDelivery">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DeliveryWebService">
        <wsdl:operation name="getNextDelivery">
            <wsdl:input name="getNextDelivery" message="tns:getNextDelivery">
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse" message="tns:getNextDeliveryResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeliveryWebServiceServiceSoapBinding" type="tns:DeliveryWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNextDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeliveryWebServiceService">
        <wsdl:port name="DeliveryWebServicePort" binding="tns:DeliveryWebServiceServiceSoapBinding">
            <soap:address location="http://localhost:8080/DeliveryWebService/webservices/DeliveryWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
