client/Cli-CustomerService/src/main/java/webServices/stubs/Web/DeliveryWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryWebServicesImpService" targetNamespace="http://webservices.dd.isa.polytech.unice.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.dd.isa.polytech.unice.fr/" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/delivery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/delivery" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/delivery" version="1.0">

  <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>

  <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>

  <xs:complexType name="getNextDelivery">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getNextDeliveryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="the_next_delivery" type="tns:delivery"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element name="status" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNextDeliveryResponse">
    <wsdl:part name="parameters" element="ns1:getNextDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNextDelivery">
    <wsdl:part name="parameters" element="ns1:getNextDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeliveryWebServicesInterface">
    <wsdl:operation name="getNextDelivery">
      <wsdl:input name="getNextDelivery" message="ns1:getNextDelivery">
    </wsdl:input>
      <wsdl:output name="getNextDeliveryResponse" message="ns1:getNextDeliveryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryWebServicesImpServiceSoapBinding" type="ns1:DeliveryWebServicesInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNextDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNextDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNextDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryWebServicesImpService">
    <wsdl:port name="DeliveryWebServicesImpPort" binding="ns1:DeliveryWebServicesImpServiceSoapBinding">
      <soap:address location="http://localhost:9090/DeliveryWebServicesImpPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
